.container{
    width:7.5rem;
    height: auto;
    position:relative;

    /*text-align: center;*/
}
.header{
    width: 7.5rem;
    height: 1.34rem;
    background-image: linear-gradient(-83deg, #ff0101 0%, #ff2801 61%, #ff4e00 100%);
}
.nav{
    width: 7.2rem;
    height: 0.88rem;
    /*background: red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /*background: #16b0dc;*/
    color: #fff;
}
.nav img{
    width: 0.33rem;
    height: 0.33rem;
}

.subNav{
    width: 7rem;
    height: auto;
    /*background: #76838f;*/

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0.32rem 0 0.53rem 0.2rem;

}
.subNav .leftBox{
    width: 2.48rem;
    height: 100%;
    color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.24rem;
    /*background: #31b0d5;*/
}
.subNav .circle{
    width: 0.08rem;
    height: 0.08rem;
    background-color: #ff1501;
    border-radius: 50%;
}
.subNav .font{
    width: 1.5rem;
    height: 0.26rem;
    color: #ff1001;
    font-size: 0.36rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bankcard img{
    width: 7.03rem;
    height: 3.75rem;
    background-color: #fbd22f;
    border-radius: 0.42rem;
    border: solid 0.01rem #7b7b7b;
    margin: 0 auto;
}

.payment{
    width: 7.51rem;
    height: 7.87rem;
    background-color: #ffffff;
    opacity: 0.82;
    margin-top: -1.1rem;
    overflow: hidden;
}

.itemBox{
    width: 3.56rem;
    height:0.4rem;
    /*background: #76838f;*/
    margin: 0.82rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.circleBox{
    width: 0.35rem;
    height: 0.1rem;
    /*background: red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemBox .circle{
    width: 0.08rem;
    height: 0.08rem;
    background-color: #33c17c;
    border-radius: 50%;
}
.itemBox p{
    font-size: 0.36rem;
    color: #000000;
    opacity: 0.6;
}
.payment img{
    width: 10rem;
    height: 5.9rem;
    margin-left: -1.6rem;
}















